@import '~node_modules/reset-css/reset.css';

// stylelint-disable-next-line selector-max-type
body {
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  width: 100%;
}

.mainWrapper {
  margin-top: 63px;
  padding-bottom: 100px;
}
