.content {
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
  max-width: 720px;
}

.cardWrapper {
  margin-bottom: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  width: 200px;
}
