.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.productsWrapper {
  width: 100%;
  max-width: 800px;
}

.checkoutWrapper {
  padding: 20px;
  min-width: 320px;
  background-color: #fafafa;
}
